<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home - Studentenraad</title>
</head>
<body>
    <div class="container">
        <a class="menuLogo" href="./"><img class="" src="./img/SR_Logo2_transparant_wit.png"> </a>
        <div>
            <a class="item" href="#">Wat?</a>
            <a class="item" href="#">Stuvers</a>
            <a class="item" href="#">Raden</a>
            <a class="item" href="#">Dossiers</a>
            <a class="item" href="#">Galerij</a>
            <a class="item" href="#">Verkiezing</a>
            <a class="item" href="#">Contact</a>
        </div>
    </div>
    <div class="content">

    </div>

<script src="../../public/js/menu.js"></script>
</body>
</html>