html,body{
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: #575753;
    height: 100%;
    width: 100%;
}

.contentwrap{
    position: relative;
    padding: 100px 18%;
    z-index: 5;
    background: white;
}
#contentAbout {
    padding: 100px 10%;
}

#citaatContent {
    padding: 100px 10%;
}


.flex {
    display: flex;
    flex-direction: row;
    padding:0;
}

.contentwrap h1 {
    font-size: 3em;
    width: 17em;
    margin: auto;
    margin-top: 0;
    color: red;
    font-weight: bold;
    text-align: center;
}

.contentwrap p {
    font-size: 1.5em;
    color: black;
}

.photowrap{
    height: 50%;
    overflow: hidden;
    position: relative;
}

.photowrap img{
    width: 40%;
}

.date {
    display: flex;
    flex-direction: column;
    width: 50em;
    margin-right: 8em;
}

.date div {
    margin: 5px;
}

.date p {
    margin-top: 2px;
    margin-bottom: 2px;
}

#agendaContent, #eventContent, #citaatContent {
    padding: 5% 2%;
}

#agendaContent > .infoContent, #eventContent >.infoContent,
#citaatContent > .citaatcontainer  {
    width: 50em;
    margin-right: 8em;
}

.contentImg {
    width: 35%;
}

.infoContent > h1 {
    width: 12.5em;
}

.date > .flex {
    border-bottom: 3px outset;
}

#contactContent > div > .contentImg {
    border: 2px solid;
    padding: 5px;
    border-radius: 100px;
    width: 50%;
}

.card {
    position: relative;
}

.card .top {
    display: none;
    position: absolute;
    z-index: 99;
}

.card:hover .top {
    display: inline;
}



.citaatImg{
    width: 600px;
    height: auto;
}
.left p{
    position: absolute;
    margin-top: 20px;
    width: 580px;
    margin-left: 10px;
}

.left {
    width: 50%;
    float: left;
}
.PersonImgLeft{
    float: left;
    margin-left:460px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-top: 10px;
}
.contentTitleLeft{
    margin-left:290px;
    text-align: right;
    margin-top: 15px;
    position: absolute;
}

.right {
    width: 50%;
    float: left;
    position: absolute;

    margin-left: 50%;
}

.right p {
    margin-top: 20px;
    width: 580px;
    position: absolute;
    margin-left: 20px;
}
.PersonImgRight{
    float: left;
    margin-left: 70px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-top: 10px;


}

.contentTitleRight{
    margin-left:160px;
    text-align: left;
    margin-top: 15px;
    position: absolute;
}



